<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Home</title>
    <h1>Blog</h1>
    <br>
    {% for blog in blogs %}

    <h2>{{ blog.title }}</h2>
    <p>{{ blog.date }}</p>
    <p>{{ blog.description }}</p>
    <br>
    {% endfor %}
</head>
<body>

</body>
</html>
