<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Home</title>
    {% load static %}
    <h1>Blog</h1>
    <br>
    {% for blog in blogs %}

    <a href="{% url 'blog:detail' blog.id %}"><h2>{{ blog.title }}</h2></a>
    <h5>{{ blog.date }}</h5>
    <p>{{ blog.description }}</p>
    <br>
    {% endfor %}

    <a href="{% static 'blog/dcs.pdf' %}">Django Cheatsheet</a>
</head>
<body>

</body>
</html>
